* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
}

.container {
 
}

.image-nft {
    display: flex;
    justify-content: center;
}

.nft-name {
    color: hsl(0, 0%, 100%);
}

.paragraph {
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

.value {
    color: hsl(178, 100%, 50%);
    font-size: 14px;
}

.expiration {
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

.creator {
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}